*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background: none;
}

:root {
  --backgroundGradient: linear-gradient(110deg, #ffcdc1 2%, #f5bea1 90%);
  --backgroundMenu: #dfa283bb;
  --backgroundmenuButton: #f5bea1;
  --backgroundNoteHeader: #dfa2839f;
  --backgroundNoteBody: #fedbc9;
  --fontHover: #ffcdc1;
  --buttonBackgroundHover: rgba(86, 73, 67, 0.84);
  --buttonBackgroundActive: rgb(60, 50, 46, 0.88);
  --black: black;
  --buttonBorder: rgba(86, 73, 67, 0.804);
  --errorColor: rgb(175, 26, 26);
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--black);
  background-image: var(--backgroundGradient);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 4vw;
  height: 12vh;
  background-color: var(--backgroundMenu);
}
.menu-title {
  font-size: clamp(1.2rem, 1.6rem + 2.6vw, 3rem);
}
.menu-title i {
  margin-right: 0.8vw;
}
.menu-buttons button {
  margin-right: 1vw;
  padding: 1vh 1.8vw;
  font-weight: bold;
  background: none;
  background-color: var(--backgroundmenuButton);
  border: 1px solid var(--buttonBorder);
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.menu-buttons button:hover {
  color: var(--fontHover);
  background-color: var(--buttonBackgroundHover);
}
.menu-buttons button:active {
  color: var(--fontHover);
  background-color: var(--buttonBackgroundActive);
  box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.649);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.654);
}
.menu-buttons button:focus {
  outline: 1px solid var(--buttonBackgroundActive);
}
.menu-buttons button i {
  margin-right: 0.2vw;
}

.notes-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  padding: 4vh 4vw;
  width: 100%;
}
.notes-area .note {
  margin: 1.5rem 0.5rem;
  height: 24vh;
  width: 260px;
  background-color: var(--backgroundNoteBody);
  border: 1px solid var(--buttonBackgroundActive);
  border-radius: 8px;
  overflow: auto;
}
.notes-area .note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 5%;
  background: var(--backgroundNoteHeader);
}
.notes-area .note-header-title {
  font-size: clamp(0.8rem, 1.2rem + 1.5vw, 2.2rem);
}
.notes-area .note-header-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 4%;
  font-size: clamp(1rem, 1.3rem + 0.7vw, 1.8rem);
  background: none;
  border: 1px solid var(--buttonBorder);
  border-radius: 8px;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}
.notes-area .note-header-delete:hover {
  color: var(--fontHover);
  background-color: var(--buttonBackgroundHover);
}
.notes-area .note-header-delete:active {
  color: var(--fontHover);
  background-color: var(--buttonBackgroundActive);
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.44);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.654);
}
.notes-area .note-header-delete:focus {
  outline: 1px solid var(--buttonBackgroundActive);
}
.notes-area .note-body {
  padding: 5%;
}

.note-panel {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4vh 0;
  width: 80vw;
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.506);
  border-radius: 12px;
}
.note-panel h2 {
  margin-bottom: 2vh;
  text-transform: uppercase;
}
.note-panel label {
  margin-bottom: 1.5vh;
}
.note-panel #text,
.note-panel #category {
  margin-bottom: 2vh;
  padding: 1vh 4vw;
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  max-height: 250px;
  border-radius: 12px;
}
.note-panel #text:focus,
.note-panel #category:focus {
  outline: 1px solid var(--buttonBackgroundActive);
}
.note-panel #text {
  height: 100px;
  min-height: 100px;
}
.note-panel .error {
  margin-bottom: 2vh;
  color: var(--errorColor);
  visibility: hidden;
}
.note-panel .panel-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.note-panel .panel-buttons button {
  padding: 1vh 1.8vw;
  font-weight: bold;
  background: none;
  border: 1px solid var(--buttonBorder);
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.note-panel .panel-buttons button:hover {
  color: var(--fontHover);
  background-color: var(--buttonBackgroundHover);
}
.note-panel .panel-buttons button:active {
  color: var(--fontHover);
  background-color: var(--buttonBackgroundActive);
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.44);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.654);
}
.note-panel .panel-buttons button:focus {
  outline: 1px solid var(--buttonBackgroundActive);
}

@media only screen and (min-width: 320px) {
  .note-panel .panel-buttons {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .note-panel .panel-buttons {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .note-panel .panel-buttons {
    width: 30%;
  }
}
@media only screen and (min-width: 1200px) {
  .note-panel {
    width: 60vw;
  }
  .note-panel #text,
.note-panel #category {
    margin-bottom: 2vh;
    padding: 1vh 1vw;
    width: 80%;
    max-height: 250px;
    border-radius: 12px;
  }
}/*# sourceMappingURL=main.css.map */