*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	background: none;
}

:root {
	//colors
	--backgroundGradient: linear-gradient(110deg, #ffcdc1 2%, #f5bea1 90%);
    --backgroundMenu: #dfa283bb;
    --backgroundmenuButton: #f5bea1;
    --backgroundNoteHeader: #dfa2839f;
    --backgroundNoteBody: #fedbc9;
	--fontHover: #ffcdc1;
	--buttonBackgroundHover: rgba(86, 73, 67, 0.84);
	--buttonBackgroundActive: rgb(60, 50, 46, 0.88);
	--black: black;
	--buttonBorder: rgba(86, 73, 67, 0.804);
    --errorColor: rgb(175, 26, 26);
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.6rem;
	color: var(--black);
	background-image: var(--backgroundGradient);
}
